.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color:white;
  color: #333333;
  padding: 0.5rem .5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}

button:hover,
button:active {
  background-color:#c9aaaa;
  transition: .5s;
}

.icon {
  width: 1.75rem;
  height: 1.35rem;
}

.badge {
  font-size: 1.25rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  transition: .5s;
}

.bump {
  animation: bump 300ms ease-out;
  background: yellow;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}